<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<h3>-저장목록-</h3>
<h4>갯수 : <%= newsList.length%> 개</h4>
<ul>
    <% for(var i=0; i< newsList.length; i++){ %>
    <li>
        <p><%= newsList[i] %></p>
    </li>
    <% } %>
</ul>
</body>
</html>
